<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.deliveryboy">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
0
    <application
        android:name=".UserClient"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".OrderTrackingMapActivity"></activity>
        <activity android:name=".Login"></activity>
        <activity android:name=".Temp" />
        <activity android:name=".Start"></activity>
        <activity android:name=".Customer" />
        <activity android:name=".Checkpoint" />
        <activity android:name=".Pickup" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".LocationService"
            android:stopWithTask="true" />
        <meta-data
            android:name="com.here.android.maps.appid"
            android:value="chX2YSiXVLNKo7fCFWu3" />
        <meta-data
            android:name="com.here.android.maps.apptoken"
            android:value="-O_bEkKhnMkt9Do6oSp1nA" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCpJoD1dUtDytiityihChQV919jqYNEToA" />
    </application>

</manifest>